
	*{
		font-family: courier;
		background-color: gray;
		color: white;
	}

	h1,h2{
		text-align: center;
		padding: 5 20 20 20;
	}
	.head{
		border: 1px solid;
		padding: 5 20 20 20;
		background-image: url("../images/ny1.jpg");
		background-repeat: no-repeat;
		background-position: center;
	}
	.about {
		border: 1px solid;
		padding: 5 20 20 20;

	}
	.contact{
		border: 1px solid;
		padding: 5 20 20 20;
	}
	.practice{
		border: 1px solid;
		padding: 5 20 20 20;
	}
	ul>li{
		margin: 10px;
	}
	img.profile{
		float: left;
		margin-right: 50px;
		width: 100px;
		length: 100px;
	}