html, body {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h4 {text-align: center;
}
h1, h2 {border-bottom: 1px solid black
}

footer {border-top: 2px solid black
}
footer p {text-align: center;
}